*{
    box-sizing: border-box;
}
.container{
    min-height: 600px;
    display: flex;
}
.right{
    flex: 0.7;
    padding: 1rem ;
    padding: 27px;
}
.left{
    flex: 1.3;
    border-right: solid 1px #d9d9d9;
}
.header{
    border-bottom: solid 1px #d9d9d9;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.discount{
    min-width: 400px;
    height: 70px;
}
.discount input{
    width: 300px;
    height: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
}
.discount button{
    width: 80px;
    height: 50px;
    float: right;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    background-color: #f7f7f7;
    color: #8b8b8b;
}
.infor{
    margin-bottom: 20px;
}
::placeholder{
    padding-left: 10px;
}
.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left p{
    text-align: center;
    margin-top: 10px;
    color: #8b8b8b;
}
.chosepay{
    text-align: center;
    color: #8b8b8b;
    padding-bottom: 10px;
}
.chosepay button{
    border-radius: 25px;
    padding: 10px;
}
.option #nation{
    width: 90%;
    height: 50px;
    border-radius: 10px;
}
input{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border: 2px solid rgb(119, 119, 0);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(255, 249, 231);
}
.dayandcode{
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 92.5%;
    margin: 20px 0px;
}
.payment{
    background-color: #f7f7f7;
    width: 90%;
}
.checkboxandp{
    display: flex;
    gap: 10px;
}
.left button{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    color: #f7f7f7;
    font-weight: bold;
    background-color: #ca7f5c;
}
button:hover{
    color: #d9d9d9;
}
/* Ẩn thông báo thành công ban đầu */
.hidden {
    display: none;
}
#success-message {
    background-color: #28a745; /* Màu xanh lá cho thông báo thành công */
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }